In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
df_cg = pd.read_csv("../data/genotypes/chr4//genotypes_region.csv",index_col=0)
df_cg = df_cg.iloc[:, :200]
df_cg["label"] = 0
df_cg.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V192,V193,V194,V195,V196,V197,V198,V199,V200,label
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.0
mean,1.165000,0.245000,0.245000,0.245000,0.245000,0.245000,1.020000,1.240000,0.245000,0.245000,...,0.195000,1.090000,0.705000,1.090000,0.705000,1.295000,1.090000,0.705000,0.705000,0.0
std,0.735172,0.453878,0.453878,0.453878,0.453878,0.453878,0.756612,0.696293,0.453878,0.453878,...,0.409651,0.688674,0.632436,0.688674,0.632436,0.632436,0.688674,0.632436,0.632436,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.0
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0
75%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000,0.0
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0.0

In [3]:
df_chr4 = pd.read_csv("../data/genotypes/chr4/genotypes_region-chr4.csv",index_col=0)
df_chr4 = df_chr4.iloc[:, :200]
df_chr4["label"] = 1
df_chr4.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V192,V193,V194,V195,V196,V197,V198,V199,V200,label
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.0,200.000000,200.000000,200.000000,200.000000,...,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.0
mean,0.060000,0.490000,0.025000,0.030000,0.465000,0.0,1.640000,0.025000,0.025000,0.025000,...,1.80500,0.045000,0.790000,0.490000,0.995000,0.770000,0.995000,0.770000,0.770000,1.0
std,0.238083,0.625987,0.156517,0.171015,0.583504,0.0,0.558534,0.156517,0.156517,0.156517,...,0.42174,0.207824,0.713051,0.625987,0.760174,0.706822,0.760174,0.706822,0.706822,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,...,2.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,2.000000,0.000000,0.000000,0.000000,...,2.00000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0
75%,0.000000,1.000000,0.000000,0.000000,1.000000,0.0,2.000000,0.000000,0.000000,0.000000,...,2.00000,0.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.0
max,1.000000,2.000000,1.000000,1.000000,2.000000,0.0,2.000000,1.000000,1.000000,1.000000,...,2.00000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.0

In [4]:
df_cg_encoded = pd.get_dummies(df_cg, columns=list(df_cg.columns[:-1]), drop_first=True, dtype=int)
df_chr4_encoded = pd.get_dummies(df_chr4, columns=list(df_chr4.columns[:-1]), drop_first=True, dtype=int)
df_concat = pd.concat([df_cg_encoded, df_chr4_encoded])
df_concat = df_concat.fillna(0)
df_concat_shuffled = df_concat.iloc[np.random.permutation(len(df_concat))]
df_concat_shuffled.to_csv("../data/genotypes/chr4/dataset.csv")

In [5]:
y = df_concat_shuffled.iloc[:,0].to_numpy()
X = df_concat_shuffled.iloc[:,1:].to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [6]:
clf = LogisticRegression(random_state=0).fit(X_train,y_train)

In [7]:
clf.score(X_test, y_test)

1.0